html {
  font-size: 14px;
}

.bg-color {
    background-color: rgb(197, 208, 180) !important;
}

body {
    background-color: rgb(197, 208, 180) !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-card {
    width: 290px;
    height: 200px;
}

.card {
    background-color: rgb(173, 218, 122) !important;
}

.btn {
    background-color: rgb(40, 135, 26) !important;
}

